= simple_form_for @task, html: {class: "form-horizontal"} do |f|
  = f.input :title, label: "Task Title"
  = f.input :description, label: "Task Summary"
  = f.input :company, label: "Your company"
  = f.input :url, label: "Link to task"
  %br/
  = f.button :submit